.nav
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding:20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.nav__list
{
    display: flex;
    justify-content: space-between;
}

.nav__link
{
    position:relative;
    color:#2e363e;
}

.nav__notification
{
    position:absolute; /* body의 끝으로 가버리기 떄문에 이렇게만 쓰면 안되고, nav__notification을 감싸고 있는, nav__link에서 position:relative;를 넣어줘야함. */
    left: 15px; 
    bottom: 15px;
}

.nav__reddot
{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: flex;
    position:absolute; /* body의 끝으로 가버리기 떄문에 이렇게만 쓰면 안되고, nav__notification을 감싸고 있는, nav__link에서 position:relative;를 넣어줘야함. */
    left: 29px; 
    bottom: 29px;
}